/*@@@@@@@@@@@@@@@ COLORS @@@@@@@@@@@@@@@*/

:root {
    --color-primary-default: #072ac8;
    --color-accent: #43D2FF;
    --color-primary-hover: #292E47;
    --color-primary-tapped: #D1EDFF;
    --color-neutral-dark: #292E47;
    --color-neutral-medium: #6B708D;
    --color-neutral-light: #F4F6FC;
    --color-neutral-light-blue: #ECF7FF;
    --color-secondary-1: #FFC600;
    --color-secondary-2: #FCE300;

}

/*@@@@@@@@@@@@@@@ GENERAL @@@@@@@@@@@@@@@*/

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    width: 68.75rem;
    margin: 0 auto;
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-medium);
    /* Thanks Adrià */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--color-neutral-dark);
    line-height: auto;
    margin: 0 auto;
}

h2 {
    font-size: 3.125rem;
    font-weight: 700;
    /* line-height: auto; */
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    /* line-height: auto; */
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: auto; */
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: inline-block;
}

.button-primary {
    background-color: var(--color-primary-default);
    color: #FFFFFF;
    /* width: 150px; */
    padding: 0.937rem 2.25rem;
    font-size: 1.062rem;
    height: auto;
    min-width: 9.375rem;
    border: none;
    font-size: 1.062rem;
    font-weight: 500;
}

.drop-shadow {
    filter: drop-shadow(0 3rem 6rem rgba(0, 0, 0, 0.1));
}

/*@@@@@@@@@@@@@@@ TEXT STYLES @@@@@@@@@@@@@@@*/

.text-intro-medium {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-intro-regular {
    font-size: 1.25rem;
    font-weight: 400;
}

.text-headline-regular {
    font-size: 1.062rem;
    font-weight: 400;
}

.text-headline-medium {
    font-size: 1.062rem;
    font-weight: 500;
}

.text-caption-1-regular {
    font-size: 0.937rem;
    font-weight: 400;
}

.text-caption-2-regular {
    font-size: 0.812rem;
    font-weight: 400;
}

/*@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@*/

header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4.375rem;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    max-height: 3.25rem;
    flex-grow: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3.75rem;
    list-style-type: none;
    /* Check how to do priority so that this one takes the most space */
}

.nav-link {
    color: var(--color-neutral-medium)
}

/*@@@@@@@@@@@@@@@ HERO SECTION @@@@@@@@@@@@@@@*/

#hero {
    height: 40.625rem;
    display: flex;
    flex-direction: row;
    margin-top: 6.25rem;
}

#hero-image {
    background-image: url('assets/hero-section/hero-image.png');
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-start;
}

#hero-content {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
}

#hero-image img:nth-child(1) {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-start;
    }

#hero-image img:nth-child(2) {
    order: 2;
    flex: 0 1 auto;
    align-self: flex-end;
    }

/*@@@@@@@@@@@@@@@ CLIENTS SECTION @@@@@@@@@@@@@@@*/

#clients {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    filter: grayscale(1);
    margin-top: 8rem;
}

/*@@@@@@@@@@@@@@@ PROJECTS SECTION @@@@@@@@@@@@@@@*/

#projects h3 {
    color: var(--color-neutral-dark);
    font-size: 2.5rem;
}

#projects {
    margin-top: 12.5rem;
}

#project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 3.75rem;
    gap: 2.5rem;
}

.project-card {
    width: 33%;
    background-color: #FFFFFF;
    /* margin: 1.25rem; */
    overflow: hidden;

}

.project-card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.card-content {
    background-color: #FFFFFF;
    padding: 1.875rem;
}

.card-content h4 {
    color: var(--color-neutral-dark);
}

.card-content p {
    font-size: 1.062rem;
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 3.437rem;
}

.card-content a {
    color: var(--color-primary-default);
}