/*@@@@@@@@@@@@@@@ COLORS @@@@@@@@@@@@@@@*/

:root {
    --color-primary-default: #072ac8;
    --color-accent: #43D2FF;
    --color-primary-hover: #A2D6F9;
    --color-primary-tapped: #D1EDFF;
    --color-neutral-dark: #292E47;
    --color-neutral-medium: #6B708D;
    --color-neutral-light: #F4F6FC;
    --color-neutral-light-blue: #ECF7FF;
    --color-secondary-1: #FFC600;
    --color-secondary-2: #FCE300;

}

/*@@@@@@@@@@@@@@@ GENERAL @@@@@@@@@@@@@@@*/

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    max-width: 82.5rem;
    margin: 0 auto;
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-medium);
    /* Thanks Adrià */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--color-neutral-dark);
    line-height: auto;
    margin: 0 auto;
    margin-top: 6rem;
}

h2 {
    font-size: 3.125rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-neutral-dark);
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: inline-block;
}

.button-primary {
    background-color: var(--color-primary-default);
    color: #FFFFFF;
    padding: 0.937rem 2.25rem;
    font-size: 1.062rem;
    min-width: 9.375rem;
    border: none;
    font-size: 1.062rem;
    font-weight: 500;
}

.button-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-neutral-dark);
}

.drop-shadow {
    filter: drop-shadow(0 3rem 6rem rgba(0, 0, 0, 0.1));
}

.box-shadow {
    box-shadow: 0 38.78px 77.55px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none
}

/*@@@@@@@@@@@@@@@ TEXT STYLES @@@@@@@@@@@@@@@*/

.text-intro-medium {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-intro-regular {
    font-size: 1.25rem;
    font-weight: 400;
}

.text-headline-regular {
    font-size: 1.062rem;
    font-weight: 400;
}

.text-headline-medium {
    font-size: 1.062rem;
    font-weight: 500;
}

.text-caption-1-regular {
    font-size: 0.937rem;
    font-weight: 400;
}

.text-caption-2-regular {
    font-size: 0.812rem;
    font-weight: 400;
}

/*@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@*/

header {
    padding: 0 6.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4.375rem;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 68.75rem;
    width: 100%;
    height: 100px;
    background-color: var(--color-neutral-light);
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    max-height: 3.25rem;
    flex-grow: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3.75rem;
    list-style-type: none;
}

.nav-link {
    color: var(--color-neutral-medium)
}

/*@@@@@@@@@@@@@@@ HERO SECTION @@@@@@@@@@@@@@@*/

#hero {
    padding: 0 6.875rem;
    height: 40.625rem;
    display: flex;
    flex-direction: row;
    margin-top: 12.5rem;
}

#hero-content {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 2.5rem;
}


#hero-content p {
    width: 82%;

}

#hero-image {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hero-image img {
    max-width: 100%;
}

/*@@@@@@@@@@@@@@@ CLIENTS SECTION @@@@@@@@@@@@@@@*/

#clients {
    padding: 0 6.875rem;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    margin-top: 8rem;
}

#clients img {
    filter: grayscale(1);
}

/*@@@@@@@@@@@@@@@ PROJECTS SECTION @@@@@@@@@@@@@@@*/

#projects {
    padding: 0 6.875rem;
    margin-top: 12.5rem;
}

#project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 3.75rem;
    gap: 2.5rem;
}

.project-card {
    width: calc(33.33% - 2rem);
    background-color: #FFFFFF;
    overflow: hidden;
    filter: drop-shadow(0 3rem 6rem rgba(0, 0, 0, 0.1));
}

.project-card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.card-content {
    background-color: #FFFFFF;
    padding: 1.875rem;
}

.card-content h4 {
    color: var(--color-neutral-dark);
}

.card-content p {
    font-size: 1.062rem;
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 3.437rem;
}

.card-content a {
    color: var(--color-primary-default);
}

/*@@@@@@@@@@@@@@@ TESTIMONIAL @@@@@@@@@@@@@@@*/

#testimonial {
    margin-top: 12.5rem;
    background-image: url(assets/testimonial-section/orbit.png);
    background-color: var(--color-neutral-dark);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 38.875rem;
    justify-content: space-around;
}

.emojis {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emojis img {
    width: 9.375rem;
}

#testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 57%;
    text-align: center;
}

#testimonial-content h3 {
    color: var(--color-neutral-light);
}

#testimonial-content #quote {
    color: var(--color-secondary-1);
}

#testimonial-profile {
    display: flex;
    flex-wrap: nowrap;
    height: 3.125rem;
}

#testimonial-profile img {
    height: 100%;
    clip-path: circle(44% at 50% 50%);
}

#testimonial-profile-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#testimonial-profile-full-name {
    color: var(--color-primary-hover);
}

#testimonial-profile-company {
    color: var(--color-neutral-light);
    font-size: 0.812rem;
    font-weight: 400;
}

/*@@@@@@@@@@@@@@@ SERVICES @@@@@@@@@@@@@@@*/

#services {
    padding: 0 6.875rem;
    margin-top: 12.5rem;
}

.service-card {
    filter: drop-shadow(0 3rem 6rem rgba(0, 0, 0, 0.1));
    width: calc(33.33% - 2rem);
    text-align: left;
    filter: none;
    min-height: 8rem;
    filter: none;
}

.service-card .card-content h4 {
    min-height: 4rem;
}

.service-card .card-content p {
    min-height: 7.5rem;
}

.icon {
    padding: 1.25rem;
    clip-path: circle(49.6% at 50% 50%);
    background-color: var(--color-neutral-light-blue);
    margin-bottom: 1.875rem;
}

/*@@@@@@@@@@@@@@@ NEWSLETTER @@@@@@@@@@@@@@@*/

#newsletter {
    margin-top: 12.5rem;
    text-align: center;
    background-color: var(--color-secondary-1);
    margin-bottom: 12.5rem;
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter-content {
    padding: 0 6.875rem;
}

#newsletter-content p {
    color: var(--color-neutral-dark);
    margin-top: 1.25rem;
}

#email-input {
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin-top: 3.125rem;
}

#email-input button {
    font-size: 1.062rem;
    font-weight: 500;
    height: 5rem;
    width: 12.375rem;
}

#email-input input {
    background: url(assets/newsletter/icon/mail.svg) no-repeat scroll center left 1.875rem;
    background-color: #FFFFFF;
    padding-left: 4.375rem;
    border: 0;
    height: 100%;
    width: 24.75rem;
    margin-right: 1.25rem;
}

#email-input input::placeholder {
    font-size: 1.062rem;
    font-weight: 400;
    color: var(--color-neutral-dark);
}

/*@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@*/

footer {
    padding: 0 6.875rem;
    margin-top: 12.5rem;
    height: 15.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#company-info img {
    height: 1.875rem;
}

#company-info p {
    width: 16.25rem;
    margin-top: 1.875rem;
}

#footer-links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6.625rem;
}

#footer-links a {
    font-size: 1.062rem;
    font-weight: 400;
    color: var(--color-neutral-medium);
}

.footer-link-column {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    justify-content: space-between;
}

/*@@@@@@@@@@@@@@@ RESPONSIVE 468px @@@@@@@@@@@@@@@*/

@media (max-width: 468px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        padding: 1rem;
        overflow-x: hidden;
    }

    header {
        padding: 0;
        margin: 0;
        height: 100px;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--color-neutral-light);
    }

    header nav,
    header button {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 3rem;
        margin-top: 1rem;
    }

    h1 {
        font-size: 12vw;
    }

    h3 {
        font-size: 2rem;
    }

    #hero {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        margin-top: 5rem;
        padding: 0;
        align-items: center;
    }

    #hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
        gap: 1rem;
    }

    #hero-content h1 {
        text-align: center;
        margin-top: 1rem;
    }

    #hero-content p {
        text-align: center;
    }

    #hero-image {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #hero-image img {
        max-width: 90%;
    }



    #projects {
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }

    #project-list {
        gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: wrap;
        scroll-behavior: smooth;
    }

    #project-list::-webkit-scrollbar {
        display: none
    }

    .project-card {
        min-width: 18.75rem;
        text-align: left;
        filter: none;
    }

    #testimonial {
        margin-top: 5rem;
        height: 30rem;
    }

    .emojis {
        height: 100%;
    }

    .emojis img {
        width: 5rem;
    }

    #testimonial-content {
        justify-content: space-evenly;
        height: 100%;
    }

    #services {
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }

    .service-card {
        min-width: 18.75rem;
        text-align: left;
        filter: none;
    }

    #newsletter {
        margin-top: 6rem;
        margin-bottom: 0;
    }

    #newsletter-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #email-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: auto;
        padding: 1rem;
    }

    #email-input input {
        height: 5rem;
        margin: 0;
        background-image: url(assets/newsletter/icon/mail.svg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: 1.375rem;
        border: 0;
        width: 100%;
        padding: 0;
    }

    #email-input input::placeholder {
        padding: 4rem;
    }

    #email-input button {
        width: 100%;
    }

    footer {
        margin-top: 6rem;
        height: auto;
        justify-content: space-evenly;
        padding: 0;
    }

    #footer-links {
        display: none;
    }

    #company-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #company-info p {
        width: 100%;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    header {
        padding: 0 6.875rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 4.375rem;
        align-items: center;
        position: fixed;
        top: 0;
        width: calc(100vw - 13.75rem);
        height: 5rem;
        background-color: var(--color-neutral-light);
        z-index: 100;
    }
    
    #hero h1 {
        font-size: 4vw;
    }

    #testimonial {
        margin: 12.5rem 6.875rem 0 6.875rem;
    }

    #newsletter {
        margin: 12.5rem 6.875rem 0 6.875rem;
    }
}

@media only screen and (min-width: 469px) and (max-width: 1023px) {

    #hero {
        margin-top: 0;
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        padding: 1rem;
        overflow-x: hidden;
    }

    header {
        padding: 0;
        margin: 0;
        height: 5rem;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--color-neutral-light);
    }

    header nav,
    header button {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    #hero {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        padding: 0;
        align-items: center;
        margin-top: 5rem;
    }

    #hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    #hero-content h1 {
        text-align: center;
        margin-top: 1rem;
    }

    #hero-content p {
        text-align: center;
        text-wrap: balance;
    }

    #hero-image {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #hero-image img {
        width: 25%;
    }

    #clients {
        min-width: 18.75rem;
        overflow-x: auto;
        gap: 1.25rem;
        padding: 0;
        margin-top: 3rem;
    }

    #projects {
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }

    #project-list {
        gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: wrap;
        scroll-behavior: smooth;
    }

    #project-list::-webkit-scrollbar {
        display: none
    }

    .project-card {
        min-width: 18.75rem;
        text-align: left;
        filter: none;
    }

    .project-card {
        max-width: 18.75rem;
        text-align: left;
        filter: none;
    }

    .project-card p {
        min-height: 5rem;
    }

    #testimonial {
        margin-top: 5rem;
        height: 30rem;
    }

    .emojis {
        height: 100%;
    }

    .emojis img {
        width: 5rem;
    }

    #testimonial-content {
        justify-content: space-evenly;
        height: 100%;
    }

    #services {
        text-align: center;
        margin-top: 5rem;
        padding: 0;
    }

    .service-card {
        min-width: 18.75rem;
        text-align: left;
        filter: none;
        width: calc(33.33% - 2rem);
        min-height: 8rem;
    }
        
    #project-list {
        gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: wrap;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 3.75rem;
    }

    #project-list::-webkit-scrollbar {
        display: none
    }

    .service-card .card-content h4 {
        min-height: 6rem;
    }

    #newsletter {
        margin-top: 6rem;
        margin-bottom: 0;
    }

    #newsletter-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #email-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: auto;
        padding: 1rem;
    }

    #email-input input {
        height: 5rem;
        margin: 0;
        background-image: url(assets/newsletter/icon/mail.svg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: 1.375rem;
        border: 0;
        width: 100%;
        padding: 0;
    }

    #email-input input::placeholder {
        padding: 4rem;
    }

    #email-input button {
        width: 100%;
    }

    footer {
        margin-top: 6rem;
        height: auto;
        justify-content: space-evenly;
        padding: 0;
    }

    #footer-links {
        display: none;
    }

    #company-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #company-info p {
        width: 100%;
        font-size: 1rem;
    }

}

/* @media (max-width: 812px) {
    #project-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 3.75rem;
        gap: 2.5rem;
    }
} */

@media (max-width: 640px) {

    #clients {
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: wrap;
        scroll-behavior: smooth;
        gap: 1.25rem;
        padding: 0;
        margin-top: 3rem;
    }

    #clients::-webkit-scrollbar {
        display: none
    }

}